<div ng-init="populate()">
    <p class="error">{{error}}</p>
    <p>{{loadingMessage}}</p>
    <div class="panel">
        <div class="input-group">
            Search Results for
            <input type="search" placeholder="all files" ng-model="searchTerm.name" />
            from OneDrive for Business:
        </div>
        <ul class="search-results list-group">
            <li ng-cloak data-ng-repeat="item in searchList | filter:searchTerm">
                <a href="{{item.link}}" target="_blank">
                    <i class="{{isWord ? 'icon-icomoon-file-word': 'icon-icomoon-file-excel'}}"></i> {{item.name}}
                </a>
                <div>
                    <span class="info">{{item.size | bytes}}</span> -
                    <span class="info">Last Modified by {{item.lastModifiedBy}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>
