<div ng-init="populate()">
    <p class="error">{{error}}</p>
    <p>{{loadingMessage}}</p>
    <div class="panel">
        <div class="input-group">
            Search Results for
            <input type="search" placeholder="all files" ng-model="searchTerm.name" />
            from OneDrive for Business:
        </div>
        <ul class="search-results list-group">
            <li data-ng-repeat="item in searchList | filter:searchTerm">
                <a href="{{item.link}}" target="_blank">{{item.name}}</a> - <span class="info">{{item.size | bytes}}</span>
                <div class="info">Last Modified by {{item.lastModifiedBy}}</div>
            </li>
        </ul>
    </div>
</div>
