body {
    font-size: 20px;
}
ul.search-results {
    list-style-type: none;
}
ul.search-results li {
    padding: 10px;
    background-color: white;
}
ul.search-results li .info {
    color: #009030;
}

ul.search-results li a {
    font-size: 1.4em;
}

.search-title {
    font-size: 16px;
    padding: 10px;
}.navbar {
    height: 70px;
}
.navbar-brand {
    font-size: 25px;
}
.navbar button {
    font-size: 20px;
}
#home.authenticated #panel-101 {
    margin-top: 10px;
}
#home.authenticated .panel header {
    height: auto;
    padding: 10px;
}
#home.authenticated .panel header i {
    top: 0;
}
#home.authenticated .panel header span {
    top: 0;
}
#home.authenticated .tile-btn {
    height: 136px;
    width: 168px;
}
#home.authenticated .tile-btn i, #home.authenticated .tile-btn span {
    font-size: 40px;
    line-height: 40px;
}