body {
    font-size: 20px;
}
ul.search_results {
    list-style-type: none;
}
ul.search_results li {
    padding: 10px;
    background-color: white;
}
ul.search_results li .info {
    color: #009030;
}
.search_title {
    font-size: 16px;
    padding: 10px;
}