body {
    font-size: 20px;
}
ul.search-results {
    list-style-type: none;
}
ul.search-results li {
    padding: 10px;
    background-color: white;
}
ul.search-results li .info {
    color: #009030;
}

ul.search-results li a i {
    font-size: 2em;
}

.search-title {
    font-size: 16px;
    padding: 10px;
}.navbar {
    height: 70px;
}
.navbar-brand {
    font-size: 25px;
}
.navbar button {
    font-size: 20px;
}