body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
ul.search_results {
    list-style-type: none;
}
ul.search_results li {
    padding: 10px;
    background-color: white;
}
